ul,
ol,
li {
    list-style: none;
}

$backgroundColor: #f4f5f5;
$navHeight: 60px;
$navBgColor: #fff;
$myHeaderBgColor: #2e7bcf;
$navColor: #71777c;
$hoverColor: #007fff;
$fontColor: #3780f7;
$currentColor: #333;
$boxShadeh: inset 0 -1px 0 hsla(240, 2%, 90%, .5);
$boxShadel: inset 0 -2px $fontColor;
$boxShadow: 0 0 5px #aaa;
@keyframes identifier {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    80% {
        transform: scale(1.1);
        opacity: 8;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}